altgraph==0.17.4
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.2.0
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
idna==3.4
importlib_metadata==8.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
macholib==1.16.3
MarkupSafe==2.1.5
multitasking==0.0.11
nltk==3.8.1
numpy==1.25.1
packaging==24.1
pandas==2.0.3
praw==7.7.1
prawcore==2.4.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.8.2
pytz==2023.3
regex==2024.5.15
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
tqdm==4.66.4
tzdata==2023.3
update-checker==0.18.0
urllib3==2.0.4
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
zipp==3.19.2
